<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>BSIS 기숙사벌점 관리 프로그램</title>
    <!-- <link rel="stylesheet" href="../public/stylesheets/manage.css" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/manage.css" />
  </head>

  <body>
    <div id="toast-container"></div>
    <div class="login-box box">
      <h2>BSIS 기숙사 벌점 관리<br />프로그램</h2>
      <form id="user-form">
        <div class="user-box">
          <input id="num_input" type="text" name="number" required="" />
          <button class="all_select pointer" id="select_all" type="button">
            전체 선택
          </button>
          <button class="all_select pointer" id="no_select" type="button">
            선택 해제
          </button>
          <input
            id="num_out"
            type="text"
            style="display: none"
            name="nonumber"
            value=""
          />
          <label>학번</label>
        </div>
        <div class="user-box">
          <select class="select_1" id="select" name="select_1">
            <option selected="">옵션을 선택해 주세요</option>
            <option class="type hidden">1점 : 모범행동</option>
            <option class="type hidden">1점 : 봉사활동 참여</option>
            <option class="type hidden">1점 : 교사재량</option>
            <option class="type hidden">1점 : 훼손물 신속신고</option>
            <option class="type">0.3점 : 퇴실정리위반</option>
            <option class="type">0.3점 : 방청소 불량</option>
            <option class="type">0.5점 : 점호지각</option>
            <option class="type">2점 : 점호불참</option>
            <option class="type">1점 : 퇴실시간위반</option>
            <option class="type">1점 : 방명찰훼손/분실</option>
            <option class="type">1점 : 하급생방 출입</option>
            <option class="type">2점 : 퇴실시간이후 취침</option>
            <option class="type">2점 : 무단출입(일과중)</option>
            <option class="type">2점 : 무단 외출/퇴사</option>
            <option class="type">2점 : 스탠드소지</option>
            <option class="type">2점 : 음식물 반입</option>
            <option class="type">2점 : 소란행위</option>
            <option class="type">3점 : 귀교시간위반</option>
            <option class="type">3점 : 취침위반</option>
            <option class="type">3점 : 공용물품무단점유</option>
            <option class="type">3점 : 방이동</option>
            <option class="type">이외</option>
          </select>
        </div>
        <div class="user-box">
          <select class="select_2 hidden" id="hight_select" name="select_2">
            <option selected="">옵션을 선택해 주세요</option>
            <option class="type hight">5점 : 무단출입(퇴사자)</option>
            <option class="type hight">5점 : 금지품목 반입</option>
            <option class="type hight">5점 : 기물 파손</option>
            <option class="type hight">5점 : 방문 잠그기</option>
            <option class="type hight">11점 : 폭력행위</option>
            <option class="type hight">11점 : 방배정위반</option>
            <option class="type hight">11점 : 괴롭힘</option>
            <option class="type hight">11점 : 음란물 소지</option>
            <option class="type hight">15점 : 열쇠 무단소지</option>
            <option class="type hight">15점 : 외부학생 인솔</option>
            <option class="type hight">20점 : 흡연 / 음주 / 도박</option>
            <option class="type hight">20점 : 형사처벌대상행위</option>
            <option class="type hight">20점 : 유해 약물</option>
            <option class="type hight">20점 : 집단폭행&괴롭힘</option>
            <option class="type hight">20점 : 불량써클</option>
            <option class="type hight">20점 : 야간 무단이탈 3일 이상</option>
          </select>
        </div>
        <div class="button r" id="button-1">
          <input class="checkbox" type="checkbox" name="checkbox" />
          <div class="knobs"></div>
          <div class="layer"></div>
        </div>
        <button class="submit_btn pointer" type="submit" href="#">
          <span></span> <span></span> <span></span> <span></span> submit
        </button>
      </form>
      <div class="change_btn_div">
        <form
          class="<%= display ? '' : 'hidden' %>"
          action="/admin"
          method="POST"
        >
          <button class="change_type pointer" type="submit">관리자 관리</button>
        </form>
        <form action="/list" method="POST">
          <button class="change_type pointer" type="submit">
            목록 조회하기
          </button>
        </form>
        <form action="/calendar" method="POST">
          <button class="change_type pointer" type="submit">캘린더</button>
        </form>
      </div>
      <div style="display: flex; justify-content: center; margin-top: 5px">
        <button class="pw_button pointer" onclick="change_pw()">
          비밀번호 수정하기
        </button>
        <button class="pw_button pointer" onclick="search_pw()">
          학생 비밀번호 초기화
        </button>
      </div>
    </div>
    <div
      class="conditional-style <%= display ? '' : 'hidden' %>"
      style="margin: 10px 20px"
    >
      <input id="fileInput" type="file" name="excelFile" style="color: white" />
      <div>
        <button
          id="uploadButton"
          class="pointer"
          type="submit"
          style="color: white"
        >
          학생 리스트 초기화
        </button>
        <div style="color: white">
          <br />학생 리스트 : excel 파일<br />
          열 이름 작성 X<br />
          1열 : 학번 <br />
          2열 : 이름
        </div>
      </div>
    </div>
    <h5
      style="color: white; margin: 10px; position: fixed; bottom: 0; right: 0"
    >
      Made by PSH in HW
    </h5>
    <div class="foot">
      <h5 style="display: inline">
        오류 및 문제 발생시 HelloWorld로 문의주세요
      </h5>
    </div>
  </body>
  <script type="module" src="/javascripts/manage.js"></script>
  <!-- <script type="module" src="../public/javascripts/manage.js"></script> -->
  <script>
    async function change_pw() {
      const password1 = prompt("비밀번호를 입력해주세요");
      if (password1) {
        const password2 = prompt("비밀번호 확인");
        if (password2) {
          if (password1 == password2) {
            try {
              const response = await fetch("/list/pwchange", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({
                  password: password1,
                }),
              });

              if (response.ok) {
                const data = await response.json();
                if (data.message != "Good") {
                  location.reload();
                } else {
                  alert("서버 오류.\n관리자에게 문의해주세요.");
                }
              } else {
                alert("서버 응답이 없습니다.\n관리자에게 문의해주세요.");
              }
            } catch (error) {
              console.log(error);
              alert("데이터 전송 중 오류.\n다시 시도해주세요.");
            }
          } else {
            alert("비밀번호를 잘못입력했습니다.\n다시 시도해주세요.");
          }
        }
      }
    }

    async function search_pw() {
      const stdnum = prompt("비밀번호를 초기화할 학생의 학번을 입력해주세요");
      if (stdnum) {
        try {
          const response = await fetch("/point/resetpw", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              name: stdnum,
            }),
          });

          if (response.ok) {
            const data = await response.json();
            if (data.message != "Good") {
              alert(stdnum + " 비밀번호가 초기화 되었습니다.");
            } else {
              alert("서버 오류.\n관리자에게 문의해주세요.");
            }
          } else {
            alert("서버 응답이 없습니다.\n관리자에게 문의해주세요.");
          }
        } catch (error) {
          console.log(error);
          alert("데이터 전송 중 오류.\n다시 시도해주세요.");
        }
      } else {
        alert("학번을 입력해주세요.");
      }
    }
  </script>
</html>
